.banner {
    background: url('./assets/images/banner-1.jpg') center center;
    background-size: cover;
    object-fit: cover;
    min-height: 50vh;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 30%;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;

}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    /* material UI defaults buttons to uppercase, using text-transform will override the default uppercase text */
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner__info > h5 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}