.home__heading {
    margin-left: 40px;
    margin-top: 50px;
    padding-top: 20px;
}

.home__heading > h1 {
    font-weight: 700;
}

.home__heading > h2 {
    font-weight: 400;
}

.home__section {
    display: flex;
    margin-top: 0px;
    padding: 30px;
}